<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Social</title>
    <style>
        .wrapper {
            margin: 0 auto;
            width: 90%;
        }
        .worker {
            display: block;
            width: 100%;
            background: #f5f5f5;
            padding: 10px 20px;
            margin: 5px 0;
        }
    </style>
    <!--<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet" media="screen">-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
  </head>
  <body>
  <div class="wrapper">
    {% block content %}{% endblock %}
  </div>
    {% block scripts %}{% endblock %}
  </body>
</html>
