{% extends "base.html" %}

{% block content %}
<a href="{{ url_for('logout') }}"><button>logout</button></a>
<p>Ваш api_key для доступа к методам апи: <input type="text" size="36" value="{{ user.api_key }}" readonly onClick="this.select();"></p>
<form id="create-worker">
	<h2>Создать воркер</h2>
	sleep_time: <input type="text" name="sleep_time" placeholder="seconds">
	<input type="hidden" name="api_key" value="{{ user.api_key }}">
	<input type="submit" value="создать">
</form>

<section>
	<h2>Список воркеров in_progress</h2>
	<section id="worker-list-in-progress">
		
	</section>
</section>
{% endblock %}

{% block scripts %}
<script>
BASE_URL = window.location.origin
getInProgressWorkers()

function getInProgressWorkers () {
	$.ajax({
		type: "GET",
		url: BASE_URL + '/api/v1/task/filter',
		data: "status=in_progress&api_key={{ user.api_key }}",
		success: function(resp){
			$('#worker-list-in-progress').empty()
			if (resp.response.length > 0) {
				for (var i = resp.response.length - 1; i >= 0; i--) {
					console.log(resp.response[i]._id)
					$('#worker-list-in-progress').append('<section class="worker"><p><strong>worker_id:</strong> ' + resp.response[i]._id + '</p><p><strong>sleep_time:</strong> ' + resp.response[i].sleep_time + '</p><p><strong>time_in_sleep:</strong> ' + resp.response[i].time_in_sleep + '</p></section>')
				};
			} else {
				$('#worker-list-in-progress').append('<p>none</p>')
			}
		}
		
	});
}

$("#create-worker").submit(function () {
	$.ajax({
		type: "GET",
		url: BASE_URL + '/api/v1/task/start',
		data: $("#create-worker").serialize(),
		success: function(msg){
			console.log(msg);
            getInProgressWorkers()
		}
	});
	return false;
})

</script>
{% endblock %}

