{% extends "base.html" %}

{% block content %}
<h2>Войти в админку</h2>
<a href="{{ url_for("social.auth", backend="vk-oauth2") }}"><img src="http://youcapital.ru/templates/youcapital/images/button-vk.png" alt=""/></a> <br />


<h2>Доступные методы апи</h2>
<p><sub>http://127.0.0.1:5000/</sub><b>api/v1/task/start</b>?<u>api_key=<i>&lt;key&gt;</i>&sleep_time=<i>&lt;time&gt;</i></u></p>
<p><sub>http://127.0.0.1:5000/</sub><b>api/v1/task/</b><i>&lt;task_id&gt;</i><b>/status</b>?<u>api_key=<i>&lt;key&gt;</i></u></p>
<p><sub>http://127.0.0.1:5000/</sub><b>api/v1/task/filter</b>?<u>api_key=<i>&lt;key&gt;</i>&status=<i>&lt;status&gt;</i></u></p>
{% endblock %}

{% block scripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>
{% endblock %}
